          
          <div class="news">
            <h2>Source Code</h2>
            <p>I am the author the following open-source repositories</p>
            
            <div class="table-responsive">
              <table class="table table-sm table-borderless">
                <tr>
                  <th scope="row"><a href="https://phlong3105.github.io/one" class="btn fs-2 mb-2 mb-md-0">One</a></th>
                  <td><a href="https://github.com/phlong3105/one" class="btn fs-2 mb-2 mb-md-0">Github</a></td>
                  <td>A comprehensive research framework and knowledge base of my works related to computer vision, machine learning, and deep learning.</td>
                </tr>
              </table>
            </div>
          </div>
